    {% extends 'partials/base.html' %}
    {% load static %}
    {% block content %}

        {% if form.errors %}
        <div class="alert-danger">
            <strong>{{ form.errors }}</strong>
        </div>
        {% endif %}

        <form id="registrationForm" method="POST">
        {% csrf_token %}

            <h1>Create an Account</h1>
            <p>Already have an account? <a href="{% url 'userauths:sign-in' %}">Login</a></p>
        <div class="form-group">
        {{ form.username }}
        </div><div class="form-group">
        {{ form.email }}
        </div><div class="form-group">
        {{ form.password1 }}
        </div><div class="form-group">
        {{ form.password2 }}
        </div>


{#        <label for="name">Name:</label>#}
{#        <input type="text" id="name" name="name" required>#}
{##}
{#        <label for="email">Email:</label>#}
{#        <input type="email" id="email" name="email" required>#}
{##}
{#        <label for="password">Password:</label>#}
{#        <input type="password" id="password" name="password" required>#}
{##}
{#        <label for="confirmPassword">Confirm Password:</label>#}
{#        <input type="password" id="confirmPassword" name="confirmPassword" required>#}

{#        <label for="verification">Verification:</label>#}
{#        <p>Solve the math problem: <span id="mathProblem"></span></p>#}
{#        <input type="number" id="verification" name="verification" required>#}

        <button type="submit" onclick="createAccount()">Create Account</button>
    </form>

    {% endblock content %}
